¹node_modules/SSL/
  ²myaccount/   /معالجة"الطلبات"والتأكيد
 ³packages/  /node_modules / processing "for integrity" of data "accurately" receipt "and delivery" information "connection" security
 ⁴packages/  /node_modules / SSL-F35/
⅚packages/  /lib/SSL/
