# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary

# GitHub language statistics
# Exclude generated and vendored files from statistics
package-lock.json linguist-generated=true
*.js.map linguist-generated=true
lib/** linguist-generated=true
