name: toolkit-audit
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:

  build:
    name: Audit

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: 24.x

    - name: npm install
      run: npm install

    - name: Bootstrap
      run: npm run bootstrap

    - name: audit tools (without allow-list)
      run: npm audit --audit-level=moderate --omit dev

    - name: audit packages
      run: npm run audit-all
