name: toolkit-unit-tests
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:

  build:
    name: Build

    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest, windows-latest]
      fail-fast: false

    runs-on: ${{ matrix.runs-on }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set Node.js version
      uses: actions/setup-node@v4
      with:
        node-version-file: .nvmrc

    - name: npm install
      run: npm install

    - name: Bootstrap
      run: npm run bootstrap

    - name: Compile
      run: npm run build

    - name: npm test
      run: npm test -- --runInBand --forceExit
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: Lint
      run: npm run lint

    - name: Format
      run: npm run format-check
